<ion-card>
  <ion-card-header>
    <ion-card-title>Save Photo In Folder</ion-card-title>
  </ion-card-header>
  <ion-card-content>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button (click)="savePhotoToFolder('fun')">Fun</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="savePhotoToFolder('work')">Work</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="savePhotoToFolder('test')">Test</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

  </ion-card-content>
</ion-card>